<div class="row">
  <div class="col-md-8 col-sm-9">

    <alert type="warning" ng-show="stories.length === 0">Woah there's no story yet!</alert>

    <a class="anchor-clear" ui-sref="story({id: story._id})" ng-repeat="story in stories">
      <div class="panel panel-default panel-sm">
        <div class="panel-body">
          <strong class="text-primary">{{story.title}}</strong>
          <div class="row">
            <div class="col-xs-2">
              <span class="btn btn-clear btn-xs">
                <span class="glyphicon glyphicon-star"></span> {{story.stars}}
              </span>
            </div>
            <div class="col-xs-3">
              <span class="label label-info">{{story.category}}</span>
            </div>
            <div class="col-xs-3 text-right">
              {{story.created | amCalendar}}
            </div>
            <div class="col-xs-4 text-right">
              {{story.creator}}
            </div>
          </div>
        </div>
      </div>
    </a>

  </div>
  <div class="col-md-4 col-sm-3">

    <div class="well well-sm">
      <div class="row">
        <p class="col-md-6 col-sm-12 col-xs-6" ng-repeat="category in categories">
          <a href="/" class="btn btn-info btn-block btn-xs">{{category.title}}</a>
        </p>
      </div>
    </div>

  </div>
</div>