<alert type="warning" ng-show="stories.length === 0">Woah there's no story yet!</alert>

<div class="row" ng-show="stories.length !== 0">
  <div class="col-md-8 col-sm-9">

    <div class="panel panel-default panel-sm" ng-repeat="story in stories">
      <div class="panel-body">
        <strong>{{story.title}}</strong>
        <div class="row">
          <div class="col-xs-3">
            <a href class="btn btn-clear btn-xs">
              <span class="glyphicon glyphicon-thumbs-up"></span> {{story.upvotes}}
            </a>
            <a href class="btn btn-clear btn-xs">
              <span class="glyphicon glyphicon-thumbs-down"></span> {{story.downvotes}}
            </a>
          </div>
          <div class="col-xs-3">
            <span class="label label-info">{{story.category}}</span>
          </div>
          <div class="col-xs-3">
            {{story.created | amCalendar}}
          </div>
          <div class="col-xs-3">
            {{story.creator}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-3">

    <div class="well well-sm">
      <div class="row">
        <p class="col-md-6 col-sm-12 col-xs-6" ng-repeat="category in categories">
          <a href="/" class="btn btn-info btn-block btn-xs">{{category.title}}</a>
        </p>
      </div>
    </div>

  </div>
</div>