<div class="row">
  <div class="col-md-8 col-sm-9">

    <alert type="warning" ng-show="!story">Woah no such story :-/</alert>

    <div class="panel panel-default panel-sm">
      <div class="panel-heading">
        <strong>{{story.title}}</strong>
      </div>
      <div class="panel-body">
        {{story.body}}
      </div>
    </div>

  </div>
  <div class="col-md-4 col-sm-3">

    <div class="panel panel-default panel-sm">
      <div class="panel-heading story-info">
        <div class="row">
          <p class="col-md-6 col-sm-12 col-xs-6">
            {{story.created | amCalendar}}
          </p>
          <p class="col-md-6 col-sm-12 col-xs-6">
            {{story.__creator.profile.name}}
          </p>
          <p class="col-md-6 col-sm-12 col-xs-6 btn-group">
            <button class="btn btn-default btn-xs" ng-click="star()" ng-disabled="!canStar">
              <span class="glyphicon" ng-class="{'glyphicon-star-empty': !isStarred, 'glyphicon-star': isStarred}"></span>
              {{ ' ' + (isStarred ? 'Unstar' : 'Star') }}
            </button>
            <!-- TODO: stargazers -->
            <a href class="btn btn-default btn-xs" disabled>{{story.stars}}</a>
          </p>
          <p class="col-md-6 col-sm-12 col-xs-6">
            <a href class="btn btn-info btn-xs btn-block">{{story.__category.title}}</a>
          </p>
        </div>
      </div>
      <!-- only creator can edit/remove -->
      <div class="panel-body" ng-if="isCreator">
        <div class="row">
          <div class="col-xs-6">
            <a href class="btn btn-default btn-xs btn-block" ui-sref="edit({id: story._id})">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-danger btn-xs btn-block" ng-click="remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </div>
        </div>
        </div>
    </div>

  </div>
</div>